body{
  margin: 0px 0px 0px 0px;
  background-color: #120a47;
  text-align: center;
  border-bottom: 65px solid #7abaff;
  border-left: 65px solid #7abaff;
  border-right: 65px solid #7abaff;
  color: white;
  font-family: "Nerko One"
}

/* I could have just called border twice, once as a general tag for all sides, and then to remove border top, I could have called that and made it 0px to remove it.
for margin, I only need to call it once, margin 0px so it would have made it 0 for all sides */


h2{
  margin-bottom: 120px;
}

#one{
  margin: 150px 550px 75px 550px;
}

p{
  margin: 150px 550px 10px 550px;
}
/* I called margins for the P tags and the ID one which belongs to the paragraph as well, the better thing would have been to call padding for the p tag. */


h3{
  margin-bottom: 90px;
}

#FN{
  height: 32px;
  width: 320px;
}

#LN{
  height: 32px;
  width: 320px;
}

#mail{
  height: 32px;
  width: 320px;
}

#button{
  margin-top: 10px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  background-color: #b0c41a;
  width: 200px;
  border-radius: 20px;
  font-size: 30px;
  margin-bottom: 5px;
  border: 2px solid white;
}

/* According to the solution, the form could have been called to change the font size and the margin; I didn't even realize that the font size changed.. */

/* I feel that my code did exactly what it was suppose to, however, it was not the same as the course, but that's okay. I got to use other properties that I wouldn't have used normally */
