/* Anything in between here is a comment.  */
/* ctrl + /  is a comment as well */


/* CSS STRUCTuRE */
/* Selected tag{
  property: valie;
} */

/* This is the format for coding a css file. selected tag{property:value} */
/* Whatever tag you want to affect, the property of that HTML and then what you want to change that property to */

h1{
  color: blue;  /* was changed to red; also not a common way to get color; most common is hexcode*/
}
/* the color syntax will not turn to yellow color unless it actaully works; basic colors: red, blue,green, black, purple, orange, etc.. */
/* Anything with an H1 tag will now be blue */

/* There are so many different ways to change color, there is RBG, RBGA, Hexcolor code */

li{
  color: RGB(255,97,0);     /* green was originall called*/
}
/* Instead of calling just colors directly, and if you want custom colors, you can use RGB, which stands for red, green, blue. This means the amount of red, the amount of green and the amount of blue. */
/* Google RGB allows you to select the color you want. */

p{
  color: #33bbee;
}
/* Hex codes are just another way of dispalying the color in an code value  */

h4{
color: RGBA(255,97,0, 0.5);
}
/* RED BLUE GREEN ALPHA,  alpha is a paramter that is a number between 0 and 1 and 0 is fully transparent and 1 is opaque, how dark or transparent */
/* 0 makes it transparent */
