li{
  color: red;
}
/* We selected this first, so see can see what the general tag  of the element will do */

.topitems{
  color: blue;
}
/* The elements with this class will override the red */

#two{
  border: 3px solid black;
}
/* ID overrides everything else */

/* This is how the order of specificity works
Id tag
Class Tag
General Tag
 */
