h1{
  text-align: center;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Correct */

p{
  text-align: center;
}
/* Correct */

table{
  margin: auto;
}
/* Correct */

td{
  border: 13px solid white;
  height: 410px;
  width: 200px;
  text-align: center;
  vertical-align: bottom;
}
/* Correct */

#one{
  background:#32CBFF;
}
/* Correct */

#two{
  background:#00A5E0;
}
/* Correct */

#three{
  background:#89A1EF;
}
/* Correct */

#four{
  background:#EF9CDA;
}
/* Correct */

#five{
  background:#FECEF1;
}
/* Correct */
