#top{
border:4px solid blue;
width: 25%;
text-align: center;
/* Margin order - top right bottom left */
margin: auto;
/* margin: 10px 20px 100px 400px;  makes the box 10px from the top, 20px from the right, 100px from the bottom, 400px from the left; then it was changed to auto; auto will make it automatically centered. */


/* This is length of the content, padding, and border; it takes up only 25% of the page now.
Text was then aligned center, making the word top center in the box border */

/* Margin is what defines the space between the border and everything else, therefore, if we want to center the box, we need to center the margin */
}

/* Original - border:4px solid blue;
    created a box with a border of blue that went from one end to the other*/



#bottom{
border: 4px solid red;
width: 50%;
padding: 200px;
text-align: center;
}
/* Original - border:4px solid red;
    created a box with a border of red that went from one end to the other*/

/* The box model allows you to define all aspects of the content, padding, boarder and margin. */
