/* select tag {
  property: value;
} */

/* div{
  color:red;
} */
/* This is a test/general selctor tag. This was just to show you what the div tag will do, which is making all div tags red; this was deleted, and will be shown as classes and Ids */

.firstDiv{
 color: blue;
}
/* You tell css that it's a class with a dot (.) */

.secondDiv{
  color: red;
}

/* The two div tags are now different colors; this is because we called the class each individual class was told to have a different color  */


/* Ids use hashtag(#) */
#singledout{
  color: green;
  text-decoration: line-through;
  /* text-decoration is another property for the text. */
}

/* *{
 color: black;
} */
/* The Astrix (*) selects every element on the page, this is not common at all.
It will color everything black and it will override certain things; it will not override IDs, it does infact override class calls; this was deleted*/


/* Selectors */
/* https://www.w3schools.com/cssref/css_selectors.php */

/* This is an adjuscent sibling, this has to do with elements that are next to each other. Select all unordeed list items that are next to H3 tags*/

H3 + ul{
  border: 4px dotted purple;
  /* border style, thickness and color all in one line */
  /* reads as select all unordered list immediately after h3 */
}

/* This is a Decendents */
li a {
 color: red;

}
/* all anchor tags insude of a list */


/* Attributes */
/* inside of a list with an anchor tag with a particual href */
li a[href="https://www.linkedin.com/in/hidhavaldesai/"]{
  color: blue;
  border: 5px solid orange;
}
